/%link{rel: "stylesheet", href: "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" }
/%script{src: "http://code.jquery.com/jquery-1.9.1.js"}
/%script{src: "http://code.jquery.com/ui/1.10.3/jquery-ui.js"}
#tasks
  .navbar
    .navbar-inner
      .container
        %ul.nav


          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %img.img-circle{"data-bind"=> "attr: { src: current_user.avatar.micro }"}  
              %span My profile
              %b.caret
            %ul.dropdown-menu
              %li= link_to 'My notes', "#"
             

          %li.divider-vertical
          %li= link_to "New task" ,'#', "data-bind" => "click: new_task"
        %ul.nav.pull-right
          %li.divider-vertical
          .navbar-search
            %input.search-query{:placeholder => "Task", :type => "text"}
        %ul.nav.pull-right
          %li= link_to 'My tasks', '#'

        %ul.nav.pull-right 
          %li
            %input{type: "checkbox", "data-bind" => "checked: $root.task_view_settings().show_unassigned"} show unassigned tasks

  = render 'tags'
  /= render 'user_list'
  / RIGHT BLOCK
  - content_for :right_block do 
    #right-block{style: "position: fixed;right: 0;top: 43px;width: 94px;bottom: 40px;overflow: auto;"}
      / ko if: $root.data_loading()
      %div{style: "background-size: 33px;background-image: url('/assets/spinner_black.gif');width: 100px;height: 100px;background-repeat: no-repeat;margin: 0 auto;background-position: center;"}
      / /ko
      / ko ifnot: $root.data_loading()
      %ul.nav.nav-pills{"data-bind" => "foreach: $root.employees"}
        %li{"data-bind" => "css: { active: $root.task_view_settings().is_user_selected($data) }"}
          %a{href: "#", "data-bind" => "click: $root.select_user"}
            %img.img-circle{"data-bind"=> "attr: { src: avatar.micro }"}  
            %span{"data-bind" => "text: name"}
            %span{"data-bind" => "text: surname"}
            %span.label{"data-bind" => "visible: online"}
              online
      / /ko
  / LEFT BLOCK
  - content_for :left_block do 
    #left-block{style: "position: fixed;left: 0;top: 43px;width: 94px;bottom: 40px;overflow: auto;"}
      / ko if: $root.data_loading()
      %div{style: "background-size: 33px;background-image: url('/assets/spinner_black.gif');width: 100px;height: 100px;background-repeat: no-repeat;margin: 0 auto;background-position: center;"}
      / /ko
      / ko ifnot: $root.data_loading()
      %ul.nav.nav-pills{"data-bind" => "foreach: $root.tags"}
        %li{"data-bind" => "css: { active: $root.task_view_settings().is_tag_selected($data) }"}
          %a{href: "#", "data-bind" => "click: $root.select_tag"}
            %span.label{"data-bind" => "text: tasks_count"}
            %span{"data-bind" => "text: name"}
      / /ko            

  / ko if: $root.data_loading()
  %div{style: "background-size: 33px;background-image: url('/assets/spinner_black.gif');width: 100px;height: 100px;background-repeat: no-repeat;margin: 0 auto;background-position: center;"}
  / /ko
  / ko ifnot: $root.data_loading()
  %div{"data-bind" => "template: { name: $root.task_state() }"}
  / /ko

%script{:type => "text/html", :id => "task_index_template"}
  /- if current_company.id == 1
  = render 'index' 
  /- else
  /  = render 'index_old' 

%script{:type => "text/html", :id => "task_edit_template"}
  .well
    %a.pull-right{href: "#", "data-bind" => "click: $root.index"} 
      %span.icon-remove
    = render 'edit' 

%script{:type => "text/html", :id => "task_new_template"}
  .well
    %button.close{"aria-hidden" => "true", :type => "button", "data-bind" => "click: $root.index"} ×
    = render 'new' 

%script{:type => "text/html", :id => "task_show_template"}
  .well
    %a.pull-right{href: "#", "data-bind" => "click: $root.index"} 
      %span.icon-remove
    = render 'task' 

:javascript
  $(function(){
    var project = #{current_project.to_builder.target!};
    var manageTasksViewModel = new ManageTasksViewModel(project);
    manageTasksViewModel.load_projects();
    manageTasksViewModel.load_employees();
    manageTasksViewModel.load_tasks();
    manageTasksViewModel.load_tags();

    ko.applyBindings(manageTasksViewModel,$('#tasks')[0]);
    ko.applyBindings(manageTasksViewModel,$('#right-block')[0]);
    ko.applyBindings(manageTasksViewModel,$('#left-block')[0]);
    
   
    //window.setInterval(updatefunction, 1000 * 60); // 1 min
    //function updatefunction() {     
    //}
  });  

= render 'uploads/uploads_templates'