.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %button{type: "button", class: "btn btn-navbar", "data-toggle" => "collapse", "data-target" => ".nav-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to current_company.name, root_path, class: 'brand'
      = render 'layouts/projects_menu'
      .pull-right
        = render 'layouts/settings_menu'
        %ul.nav
          %li.divider-vertical
          %li
            - if current_user
              = link_to "SIGN OUT", destroy_user_session_path, :method => :delete 
            - else
              = link_to "SIGN IN", "#login-dialog", "data-toggle" => "modal"
